.form-container {
  width: 500px;
  height: 600px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 20px;
}

.form-title {
  font-size: 35px;
  font-weight: 400;
  color: #2a414f;
}

.input-group label {
  display: block;
  margin-left: 5px;
  margin-bottom: 5px;
}

.input-group input {
  width: 415px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  font-size: 24px;
}
.form-submit {
  width: 415px;
  height: 55px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.form-submit:hover {
  background-color: rgba(255, 153, 0, 0.5);
}

.from-link {
  color: rgba(255, 153, 0, 1);
  text-decoration: none;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hr-lines::before {
  content: " ";
  display: block;
  height: 2px;
  width: 144px;
  position: absolute;
  top: 50%;
  left: 0;
  background: rgba(149, 160, 167, 1);
}

.hr-lines {
  position: relative;
  max-width: 344px;
  margin: auto;
  text-align: center;
  color: rgba(149, 160, 167, 1);
}

.hr-lines:after {
  content: " ";
  height: 2px;
  width: 144px;
  background: rgba(149, 160, 167, 1);
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
}
